<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->

		<link rel="stylesheet" type="text/css" href="./styles/styles.css">
	</head>
	<body>
		<header>
			<h1>
				<a href="index.html"><img src="../media/logo-wikipraktika.svg" /></a>Wikipraktika
			</h1>
		</header>
		<header>
			<h2>Navigation</h2>
		</header>
			<nav>
				<ul>
					<li><a href="#">Hauptseite</a></li>
					<li><a href="#">Themenportale</a></li>
					<li>Mitmachen</li>
					<ul>
						<li><a href="#">Artikel verbessern</a></li>
						<li><a href="#">Neuen Artikel anlegen</a></li>
						<li><a href="#">Autorenportal</a></li>
						<li><a href="#">Hilfe</a></li>
						<li><a href="#">Letzte Änderungen</a></li>
						<li><a href="#">Kontakt</a></li>
						<li><a href="#">Spenden</a></li>
					</ul>
					<li>Werkzeuge</li>
					<ul>
						<li><a href="#">Links auf dieser Seite</a></li>
						<li><a href="#">Änderungen an verlinkten Seiten</a></li>
						<li><a href="#">Permanenter Link</a></li>
						<li><a href="#">Artikel zitieren</a></li>
					</ul>
					<li>In anderen Sprachen</li>
					<ul>
						<li><a href="#"> <img src="../media/flag-it.svg" height="15" width="25"/>Italiano</a></li>
						<li><a href="#"> <img src="../media/flag-fr.svg" height="15" width="25"/>Francais</a></li>
						<li><a href="#"> <img src="../media/flag-en.svg" height="15" width="25"/>English</a></li>
					</ul>
				</ul>
			</nav>


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
	</body>
</html>
