<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->

		<link rel="stylesheet" type="text/css" href="./styles/styles.css">
	</head>
	<body>
		<header>
			<h1>
				<a href="index.html"><img src="../media/logo-wikipraktika.svg" height="100" width="100" alt="Wikipraktika Logo"/></a>Wikipraktika
			</h1>
		</header>
		<header>
			<h2>Navigation</h2>
		</header>
			<nav>
				<ul>
					<li><a href="/de/">Hauptseite</a></li>
					<li><a href="/de/topics/">Themenportale</a></li>
					<li>Mitmachen</li>
					<ul>
						<li><a href="/de/join/enhance-article/calculator">Artikel verbessern</a></li>
						<li><a href="/de/join/create-article">Neuen Artikel anlegen</a></li>
						<li><a href="/de/join/author-portal">Autorenportal</a></li>
						<li><a href="/de/join/help">Hilfe</a></li>
						<li><a href="/de/join/last-changes/calculator">Letzte Änderungen</a></li>
						<li><a href="/de/join/contact">Kontakt</a></li>
						<li><a href="/de/join/donate">Spenden</a></li>
					</ul>
					<li>Werkzeuge</li>
					<ul>
						<li><a href="/de/calculator/tools/links-to-this-page Links">Links auf dieser Seite</a></li>
						<li><a href="/de/calculator/tools/linked-changes">Änderungen an verlinkten Seiten</a></li>
						<li><a href="/de/calculator/tools/permanent-link">Permanenter Link</a></li>
						<li><a href="/de/calculator/tools/cite-article">Artikel zitieren</a></li>
					</ul>
					<li>In anderen Sprachen</li>
					<ul>
						<li><a hreflang="/it/articles/calculator" href="it/">Italiano</a></li>
						<li><a hreflang="/fr/articles/calculator" href="fr/">Francais</a></li>
						<li><a hreflang="/en/articles/calculator" href="en/">English</a></li>
					</ul>
				</ul>
			</nav>


		<main>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>
			<section>
				<header>
					<h2>Taschenrechner</h2>
				</header>
				<section id="Taschenrechner">
					<header>
						<h3>Taschenrechner</h3>
					</header>
						<p>Ein Taschenrechner ist eine tragbare, handliche elektronische Rechenmaschine,
							mit deren Hilfe numerische Berechnungen ausgeführt werden können.
							Einige neuere technisch-wissenschaftliche Taschenrechner beherrschen auch symbolische Mathematik mittels eines Computeralgebrasystems (CAS),
							können also etwa Gleichungen umstellen oder lösen.
						</p>
						<p>
							Praktisch alle heutigen Taschenrechner verwenden elektronische Integrierte Schaltungen und
							LC-Displays als Anzeige und werden von einer Batterie oder Solarzelle mit Strom versorgt.
						</p>
						<figure>
							<img src="../media/900px-SCM_Marchant_calculator.jpg" height="590" width="820" alt="Marchant Calculator">
							<figcaption>
								<div>
									<a href="http://commons.wikimedia.org/wiki/User:Bilby">By Bilby</a> - Own work, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>,<br>
									https://commons.wikimedia.org/w/index.php?curid=10980797
								</div>
							</figcaption>
						</figure>
					<header>
						<h4>Geschichte</h4>
					</header>
						<p>
							Bereits vor der Einführung der elektronischen Taschenrechner gab es einen Bedarf nach
							tragbaren Rechenhilfen. Dieser wurde mit mechanischen Taschenrechnern und Rechenschiebern
							befriedigt. Meist handelte es sich dabei um einfache Addiermaschinen. Auch
							Vier-Spezies-Maschinen – also Rechenmaschinen, die Addition, Subtraktion, Multiplikation und
							Division beherrschten – gab es in taschentauglicher Größe. Bekanntestes Beispiel ist die Curta.
						</p>
						<p>
							Vorläufer der elektronischen Taschenrechner waren elektronische Tischrechner, bei denen der
							Integrationsgrad der Schaltungstechnik noch geringer war und die deshalb größere Dimensionen
							aufwiesen.
						</p>
						<p>
							Der erste elektronische, tatsächlich handflächengroße Taschenrechner wurde 1967 von Texas
							Instruments entwickelt.[1] Ein 1,5 kg schwerer Prototyp dieses ersten Taschenrechners ist
							heute in der Smithsonian Institution ausgestellt. Auch dieser lief schon mit Batterien,
							frühere Rechner benötigten einen Stromanschluss.
							Die ersten kommerziell vertriebenen Taschenrechner wurden 1969
							und 1970 von den japanischen Firmen Compucorp,
							Sanyo, Sharp und Canon hergestellt.
							Intel entwickelte für die japanische Firma Busicom einen der ersten Mikroprozessoren,
							den Intel 4004, der 1971 auf den Markt kam und in dem Modell
							Busicom 141-PF verwendet wurde.
							Als erster Taschenrechner, der mit einem Verkaufspreis von 10.000 Yen für die breite Masse erschwinglich war,
							gilt der 1972 veröffentlichte Casio Mini.[2] 1972 brachte Texas
							Instruments den
							Taschenrechner SR 10 mit dem eigenen Mikroprozessor TMS1000 heraus.
							Diese Taschenrechner verfügten über wenig mehr als die vier Grundrechenarten.
							1971 stellte Bowmar den ersten in den USA erhältlichen
							Taschenrechner her (Bowmar 901B/„Bowmar Brain“, Maße: 131 mm ×77 mm × 37 mm).
							Er hatte vier Funktionen und ein achtstelliges rotes LED-Display. Verkauft wurde er für 240 US$.
							Bowmar musste 1976 schließen.
						</p>
						<p>
							1972 erschien mit dem HP-35 von Hewlett-Packard der erste technisch-wissenschaftliche
							Taschenrechner mit trigonometrischen, logarithmischen und Exponentialrechnungs-Funktionen. Er
							wurde ein Verkaufserfolg und leitete das Ende der damals noch weit verbreiteten Rechenschieber ein.
							Einer seiner Entwickler war Steve Wozniak, der wenige Jahre später das Unternehmen Apple mitgründete
							und als Computer-Ingenieur die Entwicklung des Personal Computer maßgeblich beeinflusste.
						</p>
						<p>
							Vor allem Hewlett Packard und Texas Instruments entwickelten ab 1974 auch programmierbare
							Taschenrechner.
						</p>
					<header>
						<h4>Numerische Genauigkeit</h4>
					</header>
						<p>
							Auch wenn heutige Taschenrechner im Regelfall kaum Programmfehler bei einfachen Berechnungen
							aufweisen, lassen sich zwischen verschiedenen Taschenrechnermodellen unterschiedliche
							Genauigkeiten und Auflösungen bei numerischen Berechnungen bestimmen.
							Die Gründe liegen in den numerischen Näherungsverfahren (beispielsweise Horner-Schema und CORDIC),
							mit denen beispielsweise transzendente Funktionen wie die Sinus-Funktion berechnet werden.
							Genauer gesagt kommt es auf die Anzahl der abgespeicherten Koeffizienten für die Funktionsapproximationen an:
							der dafür benötigte Speicherplatz war vor allem in der Anfangszeit ein extremer Engpass.
							Diese kleinen Unterschiede in den Verfahren und unterschiedliche Genauigkeiten lassen sich auch
							als Erkennungsmerkmal für eine bestimmte Firmware verwenden.
						</p>
						<p>
							Beispielsweise liefert die numerische Berechnung von sin (22) in Radiant auf verschiedenen
							Taschenrechnern voneinander abweichende Ergebnisse.
						</p>
						<div>
							<small>
								Source Wikipedia: <a href="https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a>
							</small>
						</div>
				</section>
				<section id="Demonstration">
					<header>
						<h3>Demonstration</h3>
					</header>
					<!-- TODO: Taschenrechner js -->
					<object data="calculator/index.html"></object>
				</section>
				<section id="Bedienung">
					<header>
						<h3>Bedienung des TI-Nspire CX CAS</h3>
					</header>
					<figure>
						<video controls role="application" poster="../media/ti-nspire-cx-cas.png">
							<source src="../media/TI-Nspire CX CAS 3D Model.mp4" role="presentation"/>
							<source src="../media/TI-Nspire CX CAS 3D Model.webm" role="presentation"/>
							<track src="../media/ti-nspire-subtitles.en.vtt" kind="subtitles" srclang="en" role="presentation" label="English" default />
						</video>
						<figcaption>
							<small>TI-Nspire CX CAS Demonstration</small>
						</figcaption>
						<p>
							Von TheConnerdy, <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>,
							<a href="https://www.youtube.com/watch?v=6gKkz4VkSgk">via Youtube</a>
						</p>
					</figure>
					<footer>
						<small>
							<span>Zuletzt geändert von Philipp Graf</span>
							<time datetime="2016-2-11 12:45">Donnerstag, 11. Februar 2016, 12:45</time>
						</small>
					</footer>
							<section id="Varianten">
								<header>
									<h3>Taschenrechnervarianten</h3>
								</header>
								<div>
									<dl>
										<dt>Einfach</dt>
										<dd>Grundrechenarten, Prozentrechnung</dd>
										<dt>Finanzwirtschaft</dt>
										<dd>Zinsrechnung</dd>
										<dd>zum Beispiel der „Klassiker“ HP-12C (hergestellt seit 1981), HP 17 B (II) (hergestellt seit 1988)</dd>
										<dt>Boolesche Rechnungen</dt>
										<dd>Rechnen mit Dual-, Oktal- und Hexadezimalzahlen, z. B. TI Programmer)</dd>
										<dt>Wissenschaftlich</dt>
										<dd>Winkelfunktionen, Logarithmus, mathematische Statistik, …</dd>
										<dd>zum Beispiel TI-30 (seit 1976 dieselbe Typbezeichnung für intern völlig unterschiedliche Geräte</dd>
										<dt>Programmierbarer Taschenrechner</dt>
										<dt>Grafikfähiger Taschenrechner</dt>
										<dd>Funktions-/Kurvendarstellung</dd>
										<dd>ab 1985 Geräte von Casio (fx-Serie, aktuelles Modell fx 9860G SD)</dd>
										<dd>1989 bis heute die HP-48-49-Reihe</dd>
										<dd>ab 1993 der TI-82 und seine Nachfolger</dd>
										<dd>aktuell der TI-84 Plus und TI-Nspire</dd>
										<dd>Grafikrechner sind typischerweise auch programmierbar.</dd>
										<dt>Computeralgebra-Rechner</dt>
										<dd>grafikfähige Taschenrechner mit eingebautem Computeralgebra-Kern</dd>
										<dd>erstes verbreitetes Gerät war der HP-48 von Hewlett-Packard (ab 1989),
											spätere Geräte zum Beispiel TI-92(+) (ab 1995), TI-89 (ab
											1998) und Voyage 200 (ab 2002), TI-Nspire CAS (ab 2007)
											von Texas Instruments, ClassPad 300 von Casio, HP 49g+ von
											Hewlett-Packard.
										</dd>
									</dl>
								</div>
								<div id="definitionListCaption">
									<small>
										Taschenrechnervarianten, Source Wikipedia: <a href="https://de.wikipedia.org/wiki/Taschenrechner">de.wikipedia.org/wiki/Taschenrechner</a>
									</small>
								</div>
							</section>
					<footer>
						<small>
							<span>Zuletzt geändert von Gabriela Kant</span>
							<time datetime="2016-2-11 12:45">Donnerstag, 11. Februar 2016, 10:09</time>
						</small>
					</footer>
				<section id="Zeitgewinn">
					<header>
						<h3>Zeitgewinn</h3>
					</header>
					<div id="tableCaption">Zeitgewinn durch Benutzung eines Taschenrechners</div>
						<table>
							<colgroup>
								<col span="1" class="pane">
							</colgroup>
							<thead>
							<tr>
								<th></th><th>2-Stellen</th><th>3-Stellen</th><th>4-Stellen</th>
							</tr>
							</thead>
							<tr>
								<th>Addition / Subtraktion</th><td>4</td><td>8</td><td>20</td>
							</tr>
							<tr>
								<th>Multiplikation</th><td rowspan="2">15</td><td rowspan="2">45</td><td>240</td>
							</tr>
							<tr>
								<th>Division</th><td>210</td>
							</tr>
							<tr>
								<th>Modulo</th><td>5</td><td>20</td><td>65</td>
							</tr>
							<tr>
								<th>Quersumme</th><td colspan="2">1</td><td>2</td>
							</tr>
							<tr>
								<th>Wurzelziehen</th><td colspan="3">Kaum machbar von Hand</td>
							</tr>
							<tr>
								<th>Potenzieren</th><td>25</td><td>75</td><td>550</td>
							</tr>
						</table>
					<figure>
						<object data="../media/zeitgewinn.svg" height="1052" width="744" role="application"></object>
					</figure>
					<footer>
						<small>
							<span>Zuletzt geändert von Leandra Gross</span>
						<time datetime="2016-2-29 13:02 ">Freitag, 29. Februar 2016, 13:02</time>
						</small>
					</footer>
				</section>
				<section id="calcTricks">
					<header>
						<h3>iPhone calculator tricks</h3>
					</header>
					<figure>
						<iframe src="https://www.youtube.com/embed/a7rcVgb41-0" allowfullscreen></iframe>
						<figcaption>iPhone Calculator Tricks  on YouTube: <a href="https://www.youtube.com/watch?v=a7rcVgb41-0">youtube.com/watch?v=a7rcVgb41-0</a></figcaption>
					</figure>
					<footer>
						<small>
							<span>Zuletzt geändert von Paul Sarner</span>
							<time datetime="2016-2-10 18:39">Donnerstag, 10. Februar 2016, 18:38</time>
						</small>
					</footer>
				</section>
				<section>
					<header>
						<h3>Die besten und schlechtesten Taschenrechner</h3>
					</header>
					<p>In einer 2014 durchgeführten Benutzerbefragung schnitten die Modelle von Casino am Besten ab:</p>
					<ol>
						<li>Casino UX5</li>
						<li>Casino TZZ</li>
						<li>Casino Basic</li>
					</ol>
					<p>Am schlechtesten schnitten die Geräte von HG ab:</p>
					<ol start="78" reversed>
						<li>HG Productive</li>
						<li>HG Calc++</li>
						<li>HG GO-ON</li>
					</ol>
					<footer>
						<small>
							<span>Zuletzt geändert von Petra Summer</span>
							<time datetime="2016-2-11 14:13">Donnerstag, 11. Februar 2016, 14:13</time>
						</small>
					</footer>
				</section>
				<section>
					<header>
						<h3>Taschenrechner suchen nach Modell</h3>
					</header>
					<form>
						<datalist id="searches">
							<option value="Casino UX5">Casino UX5</option>
							<option value="Casino TZZ">Casino TZZ</option>
							<option value="Casino Basic">Casino Basic</option>
							<option value="HG Productive">HG Productrive</option>
							<option value="HG Calc++">HG Calc++</option>
							<option value="HG GO-ON">HG GO-ON</option>
						</datalist>
						<input type="text" id="search" value="" name="searchinput" aria-label="suche" list="searches"/>
						<button id="calculatorSearchBtn" type="submit" value="Search">
						</button>
					</form>
				</section>
			</section>
			<section>
				<header>
					<h2>Neuen Autor registrieren</h2>
				</header>
				<form name="new-author">
					<fieldset id="autor">
						<legend>Autor</legend>
						<label class="inputLabels">Herr
							<input type="radio" name="anrede" value="herr" checked/>
						</label>
						<label class="inputLabels">Frau
							<input type="radio" name="anrede" value="frau"/>
						</label>
						<label for="name" class="inputLabels">Name</label>
						<input type="text" name="name" required id="name" class="textInput"/>
						<label for="email" class="inputLabels">E-Mail</label>
						<input type="text" name="email" id="email" class="textInput"/>
						<label for="homepage" class="inputLabels">Webseite</label>
						<input type="url" name="website" required pattern="https?://.+" id="homepage" class="textInput"/>
						<label for="birthdate" class="inputLabels">Geburtsdatum</label>
						<input type="text" name="birthdate" required id="birthdate" class="textInput"/>
						<label for="nationality" class="inputLabels">Nationalität</label>
						<select name="nationality" id="nationality" required size="1">
							<option value="" disabled selected>--Wählen--</option>
							<option value="switzerland">Switzerland</option>
							<option value="austria" >Austria</option>
							<option value="germany" >Germany</option>
							<option value="italy" >Italy</option>
							<option value="france" >France</option>
						</select>
						<label for="textbox" class="inputLabels">Profiltext</label>
						<textarea name="textbox" id="textbox" class="textInput"></textarea>
						<label for="upload" class="inputLabels">Profilbilder</label>
						<input type="file" name="upload" id="upload" multiple />
						<fieldset id="rechtliches">
							<legend>Rechtliches</legend>
							<input type="checkbox" required id="texturheber" class="textInput">
							<label for="texturheber" class="inputLabels">Ich bestätige, das ich keine Texte veröffentlichen werde, deren Urheber ich nicht bin</label>
							<input type="checkbox" required id="bildurheber" class="textInput">
							<label for="bildurheber" class="inputLabels"> Ich bestätige, das ich keine Medien veröffentlichen werden, deren Urheber ich nicht bin</label>
							<input type="checkbox" required id="goodwill" class="textInput">
							<label for="goodwill" class="inputLabels">Ich bestätige, das nur Texte veröffentlichen werde, die nach bestem Treu und glauben der Wahrheit entsprechen und
								eingereichte Medien Bilder nicht manipuliert wurden</label>
						</fieldset>
					</fieldset>
					<button type="submit">Account anlegen</button>
					<button type="reset">Eingaben zurücksetzen</button>
				</form>
			</section>

		</main>
		<footer>
			<address>Bahnhofstrasse 42, 8000 Zürich</address>
			<p>
				<a href="url">+055 444 33 22</a>
				<a href="url">info@wikipraktika.com</a>
			</p>
			<p>
				<small>
					Alle Inhalte von Wikipraktika stehen unter der <img src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
					<a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
					 und dürfen nur mit Nennung des Autors weiterverwendet werden.
				</small>
			</p>
		</footer>

		<!-- TODO -->
	</body>
</html>
