/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 2.5rem;
	counter-reset:h3;
}
nav{
	border: 1px solid #0060A0;
	margin-left: -0.75rem;
}
header{
	margin-bottom: 1rem;
}
header > h1{
	font-size: 2.5rem;
	vertical-align: middle;
	color: white;
	background-color: #0060A0;
	height: 5rem;
	padding-top: 1rem;
	padding-left: 7.5rem;
}
header > h2{
	margin-top: 2rem;
}
header > h3{
	border-bottom: 2px solid black;
	margin-top: 1.5rem;
}
h3::before{
	counter-increment:h3;
	content: counter(h3) " ";
}
h1 > a > img{
	padding: 0.75rem;
	margin-top: -1.2rem;
	margin-left:-7.5rem;
	position: absolute;
}
footer{
	border: 1px dotted black;
	font-style: italic;
	margin-top: 1rem;
}
footer > time{
	float: right;
	margin-right:0.5rem;
}
figcaption{
	color: gray;
}

figcaption > a {
	color: black;
}

#Taschenrechner > figure{
	float:left;
	position: relative;
	width: 400px;
	height: 350px;
}
/* images */
a[hreflang='it']::before {
	display:inline-block;
	background:url("../../media/flag-it.svg");
	height: 15px;
	width: 20px;
	background-size:100%;
	content: " ";
	margin-right: 0.5em;
}
a[hreflang='fr']::before {
	display:inline-block;
	background:url("../../media/flag-fr.svg");
	height: 15px;
	width: 20px;
	background-size:100%;
	content: " ";
	margin-right: 0.5em;
}
a[hreflang='en']::before {
	display:inline-block;
	background:url("../../media/flag-en.svg");
	height: 15px;
	width: 20px;
	background-size:100%;
	content: " ";
	margin-right: 0.5em;
}
/* text */
small > a{
	color: black;
}

/* lists */
ul{
	list-style-type: none;
	margin-left: 0.75rem;
}
ul:nth-child(1){
	margin-top: 0.75rem;
}
dl > dt{
	color: #0060A0;
	font-weight: bold;
}
dl > dd{
	margin-left: 1.5rem;
}
dd:before{
	content: "⌖ ";
}
/* table */



/* forms */



#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

