/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* document */
body {
	font-size: 1rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 2.5rem;
	counter-reset:h3;
}
nav{
	border: 2px solid #659EC5;
	margin-left: -0.75rem;
}
header{
	margin-bottom: 1rem;
}
header > h1{
	font-size: 2.5rem;
	vertical-align: middle;
	color: white;
	background-color: #0060A0;
	height: 5rem;
	padding-top: 1rem;
	padding-left: 7.5rem;
}
header > h2{
	margin-top: 2rem;
}
header > h3{
	border-bottom: 2px solid black;
	margin-top: 1.5rem;
}
h3::before{
	counter-increment:h3;
	content: counter(h3) " ";
}

h1 > a > img{
	padding: 0.75rem;
	margin-top: -1.2rem;
	margin-left:-7.5rem;
	position: absolute;
}
#pagefooter{
	background-color: #0060A0;
	margin-top: 1rem;
	color: white;
	font-style: normal;
}
#pagefooter > small > a{
	text-decoration: none;
	color: white;
	border: 1px solid black;
}
section > footer{
	border: 1px dotted black;
	font-style: italic;
	margin-top: 1rem;
}
section > footer > time{
	float: right;
	margin-right:0.5rem;
}
figcaption{
	color: gray;
	width: 380px;
}
figcaption > p {
	margin-top: 1rem;
	color: black;
}
figure{
	display: block;
}
figure a {
	color: black;
}
figure > div {
	margin-top: 1rem;
}

#taschenrechner > figure{
	float:left;
	position: relative;
	margin-right: 1rem;
	width: 307px;
	height: 310px;
}
figure > img{
	width: 307px;
	height: 222px;
}
figure > video{
	width: 100%;
}
figure > object{
	width: 100%;
	height: calc(56vw - 1.5rem);
}

iframe{
	border: 3px solid black;
	width: 90%;
	height: calc(86vw - 1.5rem);
}
.stylisedButton{
	border-style: none;
	background-color: #00609F;
	color: white;
	vertical-align: center;
	padding: .25em .5em .25em .5em;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.76);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.76);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.76);
}
.stylisedButton:hover{
	color: #88B8CE;
}
.stylisedButton:active{
	webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.76);
	-moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.76);
	box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.76);
}
#calculatorSearchBtn::before{
	height: 15px;
	width: 15px;
	display:inline-block;
	background: url(../../media/icon-search.svg);
	content:"";
	background-size:100%;
}
#calculatorSearchBtn::after{
	content:"Search";
	padding-left: 0.25em;
}

/* images */
a[hreflang='it']::before {
	display:inline-block;
	background:url("../../media/flag-it.svg");
	height: 15px;
	width: 20px;
	background-size:100%;
	content: " ";
	margin-right: 0.5em;
}
a[hreflang='fr']::before {
	display:inline-block;
	background:url("../../media/flag-fr.svg");
	height: 15px;
	width: 20px;
	background-size:100%;
	content: " ";
	margin-right: 0.5em;
}
a[hreflang='en']::before {
	display:inline-block;
	background:url("../../media/flag-en.svg");
	height: 15px;
	width: 20px;
	background-size:100%;
	content: " ";
	margin-right: 0.5em;
}
/* text */
p{
	margin-bottom:1rem;
}
small > a{
	color: black;
}
#pagefooter a{
	color:white;
}
small > time{
	float: right;
	padding-right: 0.5em;
}
#textbox{
	height: 200px;
	width: 98%;
}
/* lists */
ul > li > a:hover{
	text-decoration: none;
}
li > a{
	color: #0060A0;
}
ul > li{
	list-style-type: none;
	margin-left: 0.75rem;
}
dl > dt{
	color: #0060A0;
	font-weight: bold;
}
dl > dd{
	margin-left: 1.5rem;
}
dd:before{
	content: "⌖ ";
}
#definitionListCaption{
	color: gray;
}
ol{
	list-style-position: inside;
}
/* table */
table{
	width: 100%;
	border-collapse:collapse;
}
thead{
	color: white;
	background-color: #0060A0;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
}
#tableCaption{
	text-align: center;
}
tr{
	height: 2.5rem;
	text-align: center;
}
tr:nth-child(2n){
	background-color: #DBE6EF;
	border-top: 1px solid #BDD0E4;
	border-bottom: 1px solid #BDD0E4;
}

/* forms */
form > fieldset{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding-left: 1rem;
}
.textInput{
	height: 25px;
	width: 98%;
	background-color: #F5F4F3;
	border-style: none;
	border-bottom: 2px solid black;
	color: black;
	padding: 1rem 1rem 1rem 1rem;
	float:left;
}
.inputLabels{
	width: 98%;
	float:left;
	margin-top: 1rem;
}
.inputLabels:last-child{
	margin-bottom:1rem;
}
.checkboxSeparator {
	margin-top: 1rem;
}
.checkboxSeparator:last-child{
	margin-bottom: 1rem;
}
.textInput:focus{
	border-bottom: 2px solid #0060A0;
	color: #0060A0;
}
#nationality{
	width: 98%;
}

#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

